src/main/mule/world-cicd-demo1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="112b9989-84b3-4823-b216-cf8d2bcbe32b" basePath="/timezone">
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="a98b1184-0170-4c6c-bb30-e352e496b7e5" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<flow name="world-cicd-demo1Flow" doc:id="59494b5d-518b-4f7a-8e3b-566b5bbcc71c" >
		<http:listener doc:name="Listener" doc:id="107c41e9-c2ef-4c9e-8172-d226017fb814" config-ref="HTTP_Listener_config" path="/{region}/{city}"/>
		<logger level="INFO" doc:name="Logger" doc:id="5f1a56c1-e4da-4e62-9baf-4e201209a682" message="---stage1....."/>
		<http:request method="GET" doc:name="Request" doc:id="d6ec96b2-2eb1-4108-80d0-853ae73880e1" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	city : attributes.uriParams.city,
	region : attributes.uriParams.region
}]]]></http:uri-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="e823b850-4a6e-4225-9d40-ffc63810a798" message="......................................completed............................"/>
	</flow>
	
</mule>
